/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.site-content {
  padding-top: 50px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body:not(.home):not(.page-template-about) {
  .content-area,
  .widget-area {
    padding-top: $base__space-unit * 2;
    padding-bottom: $base__space-unit * 2;
  }
  &:not(.post-type-archive):not(.tax-product_type):not(.single-product) {
    .site-content {
      display: flex;
      @include container;
    }
    .content-area {
      border-right: $solid_border;
      padding-right: 5%;
      width: 73%;
    }
    .widget-area {
      padding-left: 5%;
      width: 27%;
    }
  }
}

.single-product {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .site-content {
    @include container;
  }
  .hentry {
    display: flex;
    justify-content: space-between;

    .product-image,
    .product-text {
      width: 48%;
    }
    .entry-title {
      color: $orange_brand;
    }
    .entry-content {
      margin-top: 0;
    }
    .price {
      font-family: $font__accent;
      @include font-size(1.8);
      margin-top: 0;
      text-transform: uppercase;
    }
  }
}

.entry-header-product h1 {
  margin-top: 0;
}

.site {
  flex: 1 0 auto;
}

.sticky {
  display: block;
}

.entry {
  margin: 0 0 ($base__space-unit * 3);
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

.blog .entry-header h1,
.blog .entry-header h2,
.single-post .entry-header h1,
.single-post .entry-header h2 {
  background-color: $green_brand;
  color: $color__background-body;
  @include font-size(2.1);
  left: 0;
  padding: ($base__space-unit / 2) $base__space-unit;
  position: absolute;
  margin-top: $base__space-unit * 1.5;
  max-width: 75%;
  top: 0;
}

.entry-header,
.blog .entry-header,
.single-post .entry-header {
  line-height: 0;
  position: relative;
}

.entry-meta,
.blog .entry-meta,
.single-post .entry-meta {
  background-color: $color__link;
  font-family: $font__accent;
  color: $color__background-body;
  text-transform: uppercase;
  bottom: 0;
  padding: ($base__space-unit * 0.67) $base__space-unit;
  display: inline-block;
  position: absolute;
  right: 0;
}

.archive:not(.tax-product_type):not(.post-type-archive) .entry-header a,
.archive:not(.tax-product_type):not(.post-type-archive) .entry-meta a,
.blog .entry-header a,
.blog .entry-meta a,
.single-post .entry-header a,
.single-post .entry-meta a {
  color: $color__background-body;
}
.archive:not(.tax-product_type):not(.post-type-archive) .entry-header a:hover,
.archive:not(.tax-product_type):not(.post-type-archive) .entry-meta a:hover,
.blog .entry-header a:hover,
.blog .entry-meta a:hover,
.single-post .entry-header a:hover,
.single-post .entry-meta a:hover {
  color: $yellow_brand;
}

.archive:not(.post-type-archive):not(.tax-product_type) .page-header,
.search .page-header {
  border-bottom: $solid_border;
  margin-bottom: $base__space-unit * 2;
  padding-bottom: 1rem;
}
.archive:not(.post-type-archive):not(.tax-product_type) .entry-meta,
.search .entry-meta {
  font-family: $font__accent;
  text-transform: uppercase;
  display: block;
  position: relative;
  background: $color__background-body;
  color: $color__text-main;
  padding: 0;
}

.post-type-archive-product .page-header,
.tax-product_type .page-header {
  border-bottom: $dashed_border;
  margin-bottom: $base__space-unit * 2;
  text-align: center;
  h1 {
    @include font-size(2.4);
    margin: 0 0 ($base__space-unit / 3) 0;
  }
}

.product-categories-menu {
  display: flex;
  font-family: $font__accent;
  @include font-size(1.2);
  justify-content: center;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  text-transform: uppercase;
  li {
    margin: 0 $base__space-unit;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $base__space-unit;
  margin-bottom: $base__space-unit;
}

.product-grid-card {
  border: $solid_border;
  .product-thumbnail {
    background-color: $off_white_brand;
    height: 250px;
    overflow: hidden;
    position: relative;
  }
  .wp-post-image {
    left: 50%;
    max-height: 250px;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -52%);
    width: auto;
  }
  .product-info {
    @include font-size(0.9);
    padding: ($base__space-unit / 2) ($base__space-unit * 0.67);
  }
  .product-title {
    background: $color__background-body;
    display: inline;
    @include font-size(1);
    font-weight: normal;
    font-family: $font__main;
    letter-spacing: 0;
    line-height: 1.75;
    padding-right: $base__space-unit / 6;
    text-transform: none;
    &:before {
      float: left;
      width: 0;
      white-space: nowrap;
      content: '...................................................';
    }
  }
  .price {
    float: right;
    padding-left: $base__space-unit / 6;
    background: $color__background-body;
  }
}

.search-header .entry-meta {
  color: $color__text-main;
}

.cat-links,
.tags-links {
  display: inline-block;
  font-family: $font__accent;
  text-transform: uppercase;
}
.cat-links {
  margin-right: $base__space-unit;
}

.social-media {
  margin: $base__space-unit 0;
  i {
    margin-right: 10px;
  }
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-body {
  display: flex;
}

.comment article {
  padding-bottom: $base__space-unit;
}

.comment-list {
  margin-left: 0;
  padding-left: 0;
  li {
    border-bottom: $solid_border;
  }
}

.comment-author-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: $base__space-unit;
}

.comment-author cite {
  font-style: normal;
  font-weight: bold;
}

.comment-metadata {
  color: $medium_grey_brand;
  margin-bottom: $base__space-unit / 2;
}

.comment-content a {
  word-wrap: break-word;
}

.comment-form-author {
  width: 49%;
  margin-right: 1%;
  float: left;
  input {
    width: 100%;
  }
}

.comment-form-email {
  width: 49%;
  margin-left: 1%;
  float: left;
  input {
    width: 100%;
  }
}

.comment-form-url {
  clear: left;
  input {
    width: 100%;
  }
}

.bypostauthor {
  display: block;
}

.hentry {
  margin: 0 0 ($base__space-unit * 3);
}

.required {
  color: $orange_brand;
}
