/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.site-content {
  padding-top: 50px;
}

body:not(.home):not(.page-template-about) {
  &:not(.single-adventure) {
    .content-area,
    .widget-area {
      padding-top: $base__space-unit * 2;
      padding-bottom: $base__space-unit * 2;
    }
  }
  &:not(.post-type-archive):not(.tax-product-type):not(.single-product):not(.single-adventure) {
    .site-content {
      display: flex;
      @include container;
    }
    .content-area {
      border-right: 1px solid #e1e1e1;
      padding-right: 5%;
      width: 73%;
    }
    .widget-area {
      padding-left: 5%;
      width: 27%;
    }
  }
}

.single-product {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .site-content {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  .hentry {
    display: flex;
    justify-content: space-between;

    .product-image,
    .product-text {
      width: 48%;
    }
    .entry-title {
      color: #d99054;
    }
    .entry-content {
      margin-top: 0;
    }
    .price {
      font-family: Novecento Sans Web, sans-serif;
      font-size: 28.8px;
      font-size: 1.8rem;
      margin-top: 0;
      text-transform: uppercase;
    }
  }
}

.entry-header-product h1 {
  margin-top: 0;
}

.site {
  flex: 1 0 auto;
}

.sticky {
  display: block;
}

.entry {
  margin: 0 0 ($base__space-unit * 3);
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

.blog .entry-header h1,
.blog .entry-header h2,
.single-post .entry-header h1,
.single-post .entry-header h2 {
  background-color: $green_brand;
  color: $color__background-body;
  font-size: 2.1rem;
  left: 0;
  padding: ($base__space-unit / 2) $base__space-unit;
  position: absolute;
  margin-top: $base__space-unit * 1.5;
  max-width: 75%;
  top: 0;
}

.entry-header,
.blog .entry-header,
.single-post .entry-header {
  line-height: 0;
  position: relative;
}

.entry-meta,
.blog .entry-meta,
.single-post .entry-meta {
  background-color: $color__link;
  font-family: $font__accent;
  color: $color__background-body;
  text-transform: uppercase;
  bottom: 0;
  padding: ($base__space-unit * 0.67) $base__space-unit;
  display: inline-block;
  position: absolute;
  right: 0;
}

.archive:not(.tax-product-type):not(.post-type-archive) .entry-header a,
.archive:not(.tax-product-type):not(.post-type-archive) .entry-meta a,
.blog .entry-header a,
.blog .entry-meta a,
.single-post .entry-header a,
.single-post .entry-meta a {
  color: #fff;
}
.archive:not(.tax-product-type):not(.post-type-archive) .entry-header a:hover,
.archive:not(.tax-product-type):not(.post-type-archive) .entry-meta a:hover,
.blog .entry-header a:hover,
.blog .entry-meta a:hover,
.single-post .entry-header a:hover,
.single-post .entry-meta a:hover {
  color: #f0e4d1;
}

.cat-links,
.tags-links {
  display: inline-block;
  font-family: Novecento Sans Web, sans-serif;
  text-transform: uppercase;
}
.cat-links {
  margin-right: 1.5rem;
}

.social-media {
  margin: $base__space-unit 0;
  i {
    margin-right: 10px;
  }
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-body {
  display: flex;
}

.comment article {
  padding-bottom: $base__space-unit;
}

.comment-list {
  margin-left: 0;
  padding-left: 0;
  li {
    border-bottom: $solid_border;
  }
}

.comment-author-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: $base__space-unit;
}

.comment-author cite {
  font-style: normal;
  font-weight: bold;
}

.comment-metadata {
  color: $medium_grey_brand;
  margin-bottom: $base__space-unit / 2;
}

.comment-content a {
  word-wrap: break-word;
}

.comment-form-author {
  width: 49%;
  margin-right: 1%;
  float: left;
  input {
    width: 100%;
  }
}

.comment-form-email {
  width: 49%;
  margin-left: 1%;
  float: left;
  input {
    width: 100%;
  }
}

.comment-form-url {
  clear: left;
  input {
    width: 100%;
  }
}

.bypostauthor {
  display: block;
}

.hentry {
  margin: 0 0 ($base__space-unit * 3);
}

.required {
  color: $orange_brand;
}
