.site-footer {
  background: url(../../images/dark-wood.png);
  background-size: 512px 512px;
  color: $color__background-body;
  a {
    color: $color__background-body;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-columns {
  display: flex;
  h3 {
    color: $orange_brand;
    @include font-size(1.2);
    margin-bottom: $base__space-unit / 2;
    text-transform: uppercase;
  }
  p {
    margin-bottom: $base__space-unit / 3;
  }
  i {
    @include font-size(1.25);
    margin-right: $base__space-unit / 3;
  }
  .day-of-week {
    font-weight: bold;
  }
}

.footer-column {
  margin: ($base__space-unit * 2) 0;
  padding-right: $base__space-unit;
  width: 25%;
  &:last-child {
    padding-right: 0;
    width: 50%;
  }
  .text-logo {
    margin-top: $base__space-unit * 0.67;
    text-align: right;
    img {
      max-width: 50%;
    }
  }
}

.site-info {
  font-family: $font__accent;
  padding: $base__space-unit 0;
  text-align: center;
  text-transform: uppercase;
}
