/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

.black-btn,
.btn,
.white-btn,
button {
  background: $green_brand;
  border: none;
  border-radius: 0;
  color: $color__background-body;
  cursor: pointer;
  font-family: $font__accent;
  @include font-size(0.9);
  line-height: 1;
  padding: ($base__space-unit / 2) $base__space-unit;
  text-decoration: none;
  text-transform: uppercase;
  &:active,
  &:focus,
  &:hover {
    background: #19625d;
    color: #000;
  }
}

input {
  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    background: $green_brand;
    border: none;
    border-radius: 0;
    color: $color__background-body;
    cursor: pointer;
    font-family: $font__accent;
    @include font-size(0.9);
    line-height: 1;
    padding: ($base__space-unit / 2) $base__space-unit;
    text-decoration: none;
    text-transform: uppercase;
    &:active,
    &:focus,
    &:hover {
      background: #19625d;
      color: $color__background-body;
    }
  }
}

.black-btn {
  border: 1px solid #000;
  color: #000;
  background-color: transparent;
  &:active,
  &:focus,
  &:hover {
    background-color: $green_brand;
    border: 1px solid $green_brand;
    color: $color__background-body;
  }
}

.white-btn {
  background-color: transparent;
  border: 1px solid $color__background-body;
  color: $color__background-body;
  &:active,
  &:focus,
  &:hover {
    background-color: $green_brand;
    border: 1px solid $green_brand;
    color: $color__background-body;
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  color: $color__border-abbr;
  border: 1px solid $color__background-hr;
  border-radius: 3px;
  background-color: #f4f4f4;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

label {
  color: $purple_brand;
  font-family: $font__accent;
  @include font-size(1.1);
  margin-bottom: $base__space-unit / 3;
  text-transform: uppercase;
  display: block;
}

.error-404 label {
  display: inline-block;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  padding-bottom: $base__space-unit / 2;
}
