/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home {
  h2 {
    @include font-size(2.4);
    font-weight: normal;
    margin-bottom: $base__space-unit * 2.5;
    text-align: center;
  }
  .front-page-hero,
  .latest-posts,
  .products-section {
    margin-bottom: $base__space-unit * 3;
  }
  .front-page-hero {
    align-items: center;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0,
        rgba(0, 0, 0, 0.4)
      ),
      #969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover, cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    img {
      height: 275px;
      width: 275px;
    }
  }
  &.admin-bar .front-page-hero {
    height: calc(100vh - 46px);
  }
  .product-categories {
    display: flex;
    justify-content: space-between;
    text-align: center;
    img {
      height: 70px;
      width: 70px;
    }
    p:last-child {
      margin-bottom: $base__space-unit / 2;
    }
  }
  .product-card {
    border: $solid_border;
    border-top-width: 5px;
    flex: 0 1 23.5%;
    max-width: 23.5%;
    padding: $base__space-unit / 2;
    &:hover {
      border-color: $orange_brand;
    }
    p:last-child {
      margin-bottom: $base__space-unit / 2;
    }
  }
  .latest-posts {
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
    }
    li {
      border: $solid_border;
      flex: 0 1 32%;
      position: relative;
    }
    .post-thumbnail {
      background-color: $off_white_brand;
      height: 250px;
      overflow: hidden;
      position: relative;
    }
    .wp-post-image {
      left: 50%;
      max-height: 250px;
      max-width: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -52%);
      width: auto;
    }
    .post-info {
      flex-direction: column;
      justify-content: space-between;
      padding: $base__space-unit / 2;
    }
    .post-meta {
      @include font-size(0.75);
    }
    h3 {
      @include font-size(1.3);
      margin-bottom: $base__space-unit * 2.5;
    }
    .black-btn {
      position: absolute;
      bottom: $base__space-unit / 2;
      left: $base__space-unit / 2;
      color: #000;
    }
  }
  
  .adventures {
    margin-bottom: $base__space-unit * 3;
  }
}

.product-card a {
  color: $color__background-body;
}

.adventures-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 2fr;
  grid-gap: 20px 20px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  height: 550px;
  .adventure-card-big {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0,
        rgba(0, 0, 0, 0.4)
      ),
      #969696 url(../../images/canoe-girl.jpg) no-repeat top;
    background-size: cover, cover;
    overflow: hidden;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  .adventure-card-wide {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0,
        rgba(0, 0, 0, 0.4)
      ),
      #969696 url(../../images/beach-bonfire.jpg) no-repeat top;
    background-size: cover, cover;
    overflow: hidden;
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
  }
  .adventure-card-small-a {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0,
        rgba(0, 0, 0, 0.4)
      ),
      #969696 url(../../images/mountain-hikers.jpg) no-repeat top;
    background-size: cover, cover;
    overflow: hidden;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  .adventure-card-small-b {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0,
        rgba(0, 0, 0, 0.4)
      ),
      #969696 url(../../images/night-sky.jpg) no-repeat top;
    background-size: cover, cover;
    overflow: hidden;
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }
  h3 {
    font-family: $font__main;
    font-weight: normal;
    color: $color__background-body;
    margin: 24px;
    text-transform: none;
  }
  .adventure-title-big {
    @include font-size(3);
  }
  .adventure-title-wide {
    @include font-size(2.4);
  }
  .adventure-title-small {
    @include font-size(1.6);
  }
}

/* About page */

.home .site-content,
.page-template-about .site-content {
  padding-top: 0;
}

.page-template-about {
  .post-title {
    @include font-size(3);
    margin-top: 0;
  }
  .entry-header {
    height: 100vh;
  }
  .entry-content {
    > :not(header) {
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
    }
    h1 {
      color: $color__background-body;
      margin-bottom: 0;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    margin-top: 0;
    header {
      margin-bottom: $base__space-unit * 2;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.page-template-default .post-title {
  @include font-size(2.4);
  margin: 0;
}

.search .page-header {
  border-bottom: $solid_border;
  h1 {
    @include font-size(2.4);
  }
}
